{% if two %}
<h4>{{ text_order_info }}</h4>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td class="text-left">{{ column_order_id }}</td>
        <td class="text-left">{{ column_ref }}</td>
        <td class="text-left">{{ column_state }}</td>
        <td class="text-left">{{ column_status }}</td>
        <td class="text-left">{{ column_day_on_invoice }}</td>
        <td class="text-right">{{ column_invoice }}</td>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-left">{{ two.id }}</td>
      <td class="text-left">{{ two.merchant_reference }}</td>
      <td class="text-left">{{ two.state }}</td>
      <td class="text-left">{{ two.status }}</td>
      <td class="text-left">{{ two.day_on_invoice }}</td>
      <td class="text-right"><a target="_blank" href="{{ two.invoice_url }}" data-toggle="tooltip" title="{{ button_download }}" class="btn btn-warning"><i class="fa fa-download"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>
{% endif %}
